* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1764ab;
}

.container {
  background-color:white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(11, 9, 9, 0.348);
  width: 400px;
  text-align: center;
}

.container h1 {
  margin-bottom: 26px;
  color: #1f1d1d;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 16px;
  border: 1px solid #0a0909;
  border-radius: 20px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #3384b0;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color:#22aedd;
}

form input[type="checkbox"] {
  margin-right: 6px;
}

form a {
  display: block;
  margin-top: 10px;
  color: #1db1e2;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

form a:hover {
  color: #1db1e2;
}